*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin-top: 100px;
}
#ser-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ser-btn{
    height: 200px;
    width: 500px;
    background-color: aquamarine;
}